/*文本字体大小设置*/
div{
	width: 5rem;
	height: 5rem;
	font-size: 12px;
}

[data-dpr="2"] div{
	font-size: 24px;
}

[data-dpr="3"] div{
	font-size: 36px;
}

#img-box{
	width: 5rem;
	height: 5rem;
	background-image:url(../image/brand@2x.png);
	background-repeat: no-repeat;
}

[data-dpr="3"] #img-box {
	background-image: url(../image/brand@3x.png);
}
